[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[functions."send-lesson-reminders"]
  schedule = "0 14 * * 4"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

