.cal-modal-content {
  max-width: 900px;
  width: 95%;
}

.cal-embed-container {
  width: 100%;
  min-height: 600px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cal-modal-content {
    width: 98%;
    padding: 16px;
  }
  
  .cal-embed-container {
    min-height: 500px;
  }
}

